.footer {
    margin-top: 15px;
    background-color: rgb(22, 60, 95);
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight:lighter;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}